# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compilación
Makefile
.oppbuildspec

# Results Folders

examples/veins/results/
examples/veins_inet/results/
#src/networks/scenario1/results/
#src/networks/scenario1_SlowSpeed/results/
#src/networks/scenario2/results/
#src/networks/scenario2_SlowSpeed/results/

# Result files
*.anf

*_m.h
*_m.cc
*.pdb
*.idb
*.ilk
*.exe
*.lib
*.dll
.pydevproject
.settings
.tstamp
.tkenvrc
.tmp*
env.sh
**/Makefile
Makefile.vc
**/Makefile.vc
out
Makefile
results
**.vci
